USE [master]
GO
/****** Object:  Database [ManagingDebts]    Script Date: 3/10/2020 1:40:10 PM ******/
CREATE DATABASE [ManagingDebts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManagingDebts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ManagingDebts.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ManagingDebts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ManagingDebts_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManagingDebts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManagingDebts]
GO
/****** Object:  Table [dbo].[bank_accounts]    Script Date: 3/10/2020 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_accounts](
	[bank_account_in_finance] [bigint] NOT NULL,
	[customer_id] [int] NOT NULL,
	[supplier_id] [varchar](9) NOT NULL,
 CONSTRAINT [PK_bank_accounts_1] PRIMARY KEY CLUSTERED 
(
	[bank_account_in_finance] ASC,
	[customer_id] ASC,
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bezek_file_info]    Script Date: 3/10/2020 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bezek_file_info](
	[customer_id] [int] NOT NULL,
	[client_number] [varchar](9) NOT NULL,
	[payer_number_bezek] [int] NOT NULL,
	[department_number] [varchar](9) NOT NULL,
	[subscription_number] [int] NOT NULL,
	[start_date_billing] [datetime] NULL,
	[end_date_billing] [datetime] NULL,
	[billing_type] [varchar](50) NOT NULL,
	[billing_description] [varchar](100) NOT NULL,
	[billing_amount] [money] NOT NULL,
	[consumption_amount] [int] NOT NULL,
	[monthly_rate] [money] NULL,
	[price_before_discount] [money] NOT NULL,
	[original_client] [varchar](10) NOT NULL,
	[original_payer] [int] NOT NULL,
	[discount_precent] [float] NOT NULL,
	[call_time] [varchar](10) NULL,
	[calls_amount] [int] NULL,
	[call_rate] [money] NOT NULL,
	[free_time_usage] [varchar](10) NULL,
	[time_period_text] [varchar](100) NULL,
	[service_type] [varchar](25) NULL,
	[secondary_service_type] [varchar](25) NULL,
	[heb_service_type] [varchar](25) NULL,
	[free_time_usage_supplier] [varchar](10) NULL,
	[general_row_id] [int] NOT NULL,
	[is_matched] [bit] NOT NULL,
	[row_id] [int] NOT NULL,
	[journal_entry_number] [int] NULL,
	[tax_rate] [int] NOT NULL,
	[invoice_number] [varchar](15) NOT NULL,
	[billing_amount_after_tax] [money] NOT NULL,
 CONSTRAINT [PK_bezek_file_info] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC,
	[general_row_id] ASC,
	[row_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[budgets]    Script Date: 3/10/2020 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[budgets](
	[budget_id] [bigint] NOT NULL,
	[budget_name] [varchar](100) NOT NULL,
	[customer_id] [int] NOT NULL,
	[supplier_id] [varchar](9) NOT NULL,
 CONSTRAINT [PK_budgets] PRIMARY KEY CLUSTERED 
(
	[budget_id] ASC,
	[customer_id] ASC,
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[budgets_contracts]    Script Date: 3/10/2020 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[budgets_contracts](
	[budget_id] [bigint] NOT NULL,
	[contract_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[supplier_id] [varchar](9) NOT NULL,
	[budget_precent] [float] NOT NULL,
 CONSTRAINT [PK_budgets_contracts] PRIMARY KEY CLUSTERED 
(
	[budget_id] ASC,
	[contract_id] ASC,
	[customer_id] ASC,
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contracts]    Script Date: 3/10/2020 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contracts](
	[contract_id] [int] NOT NULL,
	[contract_description] [varchar](100) NOT NULL,
	[bank_account_in_finance] [bigint] NOT NULL,
	[customer_id] [int] NOT NULL,
	[contract_address] [varchar](250) NULL,
	[supplier_id] [varchar](9) NOT NULL,
 CONSTRAINT [PK_contracts] PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC,
	[customer_id] ASC,
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 3/10/2020 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[finance_id] [int] NOT NULL,
	[mga_name] [varchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_business] [bit] NOT NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[finance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[electricity_file_info]    Script Date: 3/10/2020 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[electricity_file_info](
	[bank_code] [int] NOT NULL,
	[bank_branch] [int] NOT NULL,
	[bill_creating_date] [datetime] NOT NULL,
	[number_of_credit_days] [int] NOT NULL,
	[amount] [money] NOT NULL,
	[payment_date] [datetime] NOT NULL,
	[consumer_address] [varchar](150) NOT NULL,
	[consumer_name] [varchar](150) NOT NULL,
	[bank_account] [int] NOT NULL,
	[bank_account_type] [int] NOT NULL,
	[month_of_last_invoice] [int] NOT NULL,
	[year_of_last_invoice] [int] NOT NULL,
	[consumer_number] [int] NOT NULL,
	[contract] [int] NOT NULL,
	[invoice] [bigint] NOT NULL,
	[customer_id] [int] NOT NULL,
	[general_row_id] [int] NOT NULL,
	[row_id] [int] NOT NULL,
	[journal_entry_number] [int] NOT NULL,
	[is_matched] [bit] NOT NULL,
 CONSTRAINT [PK_electricity_file_info] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC,
	[general_row_id] ASC,
	[row_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[general_billing_summary]    Script Date: 3/10/2020 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[general_billing_summary](
	[customer_id] [int] NOT NULL,
	[supplier_id] [varchar](9) NOT NULL,
	[supplier_payer_id] [int] NOT NULL,
	[supplier_client_number] [int] NOT NULL,
	[bill_from_date] [date] NOT NULL,
	[bill_to_date] [date] NOT NULL,
	[total_fixed_billing] [money] NOT NULL,
	[total_changable_billing] [money] NOT NULL,
	[total_one_time_billing] [money] NOT NULL,
	[total_credit] [money] NOT NULL,
	[total_debit] [money] NOT NULL,
	[total_invoice_before_tax] [money] NOT NULL,
	[total_invoice] [money] NOT NULL,
	[row_id] [int] NOT NULL,
	[sent] [bit] NOT NULL,
	[date_of_value] [date] NOT NULL,
	[total_extra_payments] [money] NOT NULL,
 CONSTRAINT [PK_general_billing_summary] PRIMARY KEY CLUSTERED 
(
	[row_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[private_supplier_file_info]    Script Date: 3/10/2020 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[private_supplier_file_info](
	[supplier_id] [varchar](9) NOT NULL,
	[customer_id] [int] NOT NULL,
	[row_id] [int] NOT NULL,
	[general_row_id] [int] NOT NULL,
	[invoice] [bigint] NOT NULL,
	[contract] [int] NOT NULL,
	[description] [varchar](250) NOT NULL,
	[amount] [money] NOT NULL,
	[date_of_value] [datetime] NOT NULL,
	[journal_entry_number] [int] NOT NULL,
	[tax_rate] [int] NOT NULL,
	[amount_after_tax] [money] NOT NULL,
	[is_matched] [bit] NOT NULL,
 CONSTRAINT [PK_private_supplier_file_info] PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC,
	[customer_id] ASC,
	[row_id] ASC,
	[general_row_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 3/10/2020 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[supplier_id] [varchar](9) NOT NULL,
	[supplier_name] [varchar](100) NOT NULL,
	[supplier_enabled] [bit] NOT NULL,
	[supplier_with_banks] [bit] NOT NULL,
	[supplier_pkudat_yoman_number] [int] NOT NULL,
	[supplier_customer_id] [int] NOT NULL,
	[supplier_number_in_finance] [bigint] NOT NULL,
 CONSTRAINT [PK_suppliers] PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC,
	[supplier_customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/10/2020 1:40:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [varchar](9) NOT NULL,
	[user_first_name] [varchar](25) NOT NULL,
	[user_last_name] [varchar](25) NOT NULL,
	[user_email] [varchar](100) NULL,
	[customer_id] [int] NOT NULL,
	[user_is_active] [bit] NOT NULL,
	[user_password] [varchar](250) NOT NULL,
	[user_is_super_admin] [bit] NOT NULL,
 CONSTRAINT [PK_users_1] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_general_billing_summary]    Script Date: 3/10/2020 1:40:10 PM ******/
CREATE NONCLUSTERED INDEX [IX_general_billing_summary] ON [dbo].[general_billing_summary]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bank_accounts]  WITH CHECK ADD  CONSTRAINT [FK_bank_accounts_suppliers] FOREIGN KEY([supplier_id], [customer_id])
REFERENCES [dbo].[suppliers] ([supplier_id], [supplier_customer_id])
GO
ALTER TABLE [dbo].[bank_accounts] CHECK CONSTRAINT [FK_bank_accounts_suppliers]
GO
ALTER TABLE [dbo].[bezek_file_info]  WITH CHECK ADD  CONSTRAINT [FK_bezek_file_info_general_billing_summary] FOREIGN KEY([general_row_id])
REFERENCES [dbo].[general_billing_summary] ([row_id])
GO
ALTER TABLE [dbo].[bezek_file_info] CHECK CONSTRAINT [FK_bezek_file_info_general_billing_summary]
GO
ALTER TABLE [dbo].[budgets]  WITH CHECK ADD  CONSTRAINT [FK_budgets_suppliers] FOREIGN KEY([supplier_id], [customer_id])
REFERENCES [dbo].[suppliers] ([supplier_id], [supplier_customer_id])
GO
ALTER TABLE [dbo].[budgets] CHECK CONSTRAINT [FK_budgets_suppliers]
GO
ALTER TABLE [dbo].[budgets_contracts]  WITH CHECK ADD  CONSTRAINT [FK_budgets_contracts_budgets] FOREIGN KEY([budget_id], [customer_id], [supplier_id])
REFERENCES [dbo].[budgets] ([budget_id], [customer_id], [supplier_id])
GO
ALTER TABLE [dbo].[budgets_contracts] CHECK CONSTRAINT [FK_budgets_contracts_budgets]
GO
ALTER TABLE [dbo].[budgets_contracts]  WITH CHECK ADD  CONSTRAINT [FK_budgets_contracts_contracts] FOREIGN KEY([contract_id], [customer_id], [supplier_id])
REFERENCES [dbo].[contracts] ([contract_id], [customer_id], [supplier_id])
GO
ALTER TABLE [dbo].[budgets_contracts] CHECK CONSTRAINT [FK_budgets_contracts_contracts]
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD  CONSTRAINT [FK_contracts_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([finance_id])
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [FK_contracts_customers]
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD  CONSTRAINT [FK_contracts_suppliers] FOREIGN KEY([supplier_id], [customer_id])
REFERENCES [dbo].[suppliers] ([supplier_id], [supplier_customer_id])
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [FK_contracts_suppliers]
GO
ALTER TABLE [dbo].[electricity_file_info]  WITH CHECK ADD  CONSTRAINT [FK_electricity_file_info_general_billing_summary] FOREIGN KEY([general_row_id])
REFERENCES [dbo].[general_billing_summary] ([row_id])
GO
ALTER TABLE [dbo].[electricity_file_info] CHECK CONSTRAINT [FK_electricity_file_info_general_billing_summary]
GO
ALTER TABLE [dbo].[general_billing_summary]  WITH CHECK ADD  CONSTRAINT [FK_general_billing_summary_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([finance_id])
GO
ALTER TABLE [dbo].[general_billing_summary] CHECK CONSTRAINT [FK_general_billing_summary_customers]
GO
ALTER TABLE [dbo].[general_billing_summary]  WITH CHECK ADD  CONSTRAINT [FK_general_billing_summary_suppliers] FOREIGN KEY([supplier_id], [customer_id])
REFERENCES [dbo].[suppliers] ([supplier_id], [supplier_customer_id])
GO
ALTER TABLE [dbo].[general_billing_summary] CHECK CONSTRAINT [FK_general_billing_summary_suppliers]
GO
ALTER TABLE [dbo].[private_supplier_file_info]  WITH CHECK ADD  CONSTRAINT [FK_private_supplier_file_info_general_billing_summary] FOREIGN KEY([general_row_id])
REFERENCES [dbo].[general_billing_summary] ([row_id])
GO
ALTER TABLE [dbo].[private_supplier_file_info] CHECK CONSTRAINT [FK_private_supplier_file_info_general_billing_summary]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([finance_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_customers]
GO
USE [master]
GO
